<!DOCTYPE html>
<html>
<head>
	<title>Add Course</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.typekit.net/xes1nxx.css">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/CoursePage.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar fixed-top" role="navigation">
		<button id="goHome" onclick="window.location.href='/homepage'" class="btn btn-default">Back</button>
		<p class="navbar-brand courseTitle">Add Group to {{title}}</p>
	</nav>
	<div class="container">
		<div class="thumbnail">
		 	
			 <form id="addGroupForm" role="form" method="get" action="../{{title}}/addGroup/Success">
				<h3>Enter Group Info</h3>
				<br>
	    		<div class="form-group">
	      			<label for="groupName">Group Name:</label>
	      			<input type="text" class="form-control" id="groupName" placeholder="Group Name" name="groupName">
	   		 	</div>

	    		<input type="submit" id="submitBtn" class="btn btn-default" value="Add Group"></input>
			</form>

		</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>


</body>
</html>