<!DOCTYPE html>
<html>
<head>
	<title>Add Teammate</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/CoursePage.css" rel="stylesheet">
</head>
<body>
	<nav>
		<button id="doneAdding" class="btn btn-default btn-md" style="float: left;">Back</button>
	</nav>
	<div>
		<form id="addMemberForm" role="form" method="get">
			<input type="text" id="userName" placeholder="Name" name="userName"><br>
			<input type="text" id="userEmail" placeholder="Email" name="userEmail"><br>
			<input type="submit" name="submitMember" value="Add Group Member"
			  onclick='function() {
			  	alert("You have added a new group member");
			  	var pathArray = window.location.pathname.split("/");
				var group = pathArray[pathArray.length-2];
				var newURL = "/groupPage/"+group;
				window.location.href=newURL;
			  }'>
		</form>
	</div>


	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>