<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.typekit.net/xes1nxx.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/TeamUpHome.css" rel="stylesheet">
	{{> facebook}}
	<script src="/js/facebook.js"></script>

	<title>Login</title>
</head>

<body class="loginPage">
	<div class= "container">
		<div class="login">
			<img id="logo" class='img-responsive' src="/images/logo.png"/>
		</div>
		<br>
		<p class="facebookLogin">Click Below to Get Started!</p>
		<div class="welcomeText">
			<!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" 
			 data-auto-logout-link="false" data-use-continue-as="false"></div> -->

			 <fb:login-button class="fb-login-button" scope="public_profile,email" onlogin="checkLoginState();">
				</fb:login-button>
		</div>
	</div>
</body>
</html>