<!DOCTYPE html>
<html>
<head>
	<title>Success!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/CoursePage.css" rel="stylesheet">
</head>
<body>
	<div class="container">
	<nav>
		<button id="backCourse" class="btn btn-default btn-md" onclick="window.location.href='/course/{{course}}'"><-</button>

		<!--<button id="goHome" onclick="window.location.href='/homepage'">Back</button>-->
		
	</nav>

	

		<br><br><br><br><br>
		<img class="img-responsive"  style="max-width: 30%; margin-left: auto; margin-right: auto" src="/images/correct.png">
	
		<h1 style="font-family: thin; font-style: #aeadac">SUCCESS!</h1>
		
		<div class="row">
		<div class="col-xs-12">
		
		<button id="goHome" class="btn btn-default btn-md" onclick="window.location.href='/homepage'" style="float: left; margin-left: 20px">Home</button>
		
      	<button id="plusIcon" class="btn btn-default btn-md" onclick="window.history.back(-1)" style="float: right; margin-right: 20px">Add Another</button>
		</div>
		</div>
		
	
		

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    


</body>
</html>