<!DOCTYPE html>
<html>
<head>
	<title>Success!</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/CoursePage.css" rel="stylesheet">
</head>
<body>
	<div class="container">
	<nav>
		<button id="backCourse" class="btn btn-default btn-md" onclick="window.location.href='/course/{{course}}'"><-</button>

		<!--<button id="goHome" onclick="window.location.href='/homepage'">Back</button>-->
		
	</nav>
	

		<h1 style="font-family: thin; font-style: #aeadac">Success!</h1>
		
		<br>
		<button id="goHome" class="btn btn-default btn-md" onclick="window.location.href='/homepage'">Home</button>
		<br><br><br><br>
      	<button id="plusIcon" class="btn btn-default btn-md" onclick="window.history.back(-1)">Add Another</button>

		

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    


</body>
</html>