h1, h2, h3, h4 {
    text-align: center;
}

#goHome, #backCourse {
	position: absolute;
	top: 12px;
	left: 12px;
}

#addTeammate {
	position: absolute;
	top: 12px;
	right: 12px;
}

#addTeamTitle {
	text-align: center;
}

.memberList {
	font-size: large;
	position: relative;
	top: 16px;
	left: 7px;
}

.memberContainer {
	margin: 20px 0 20px 6px;
	height: 65px;
	border-bottom: solid 1px;
}

#addMember {
	position: relative;
	top: -4px !important;
	right: 14px;
}

#addCourseForm {
	font-family: thin;
}

#addGroup{
	position: absolute;
    top: 12px;
    right: 12px;
}

.groupContainer {
	box-shadow: 2px 2px 7px grey;
}

.courseTitle {
	font-family: neue-haas-unica, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: x-large;
    color: #4A6D7C !important;
}

.container {
	color: #30343F !important;
}

.cPageGName {
	font-family: neue-haas-unica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    color: #30343F !important;
}


